<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenbit.MultiscanJNIGuiJavaAndroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".CameraCapture"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".PrinterActivity" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceFeaturesActivity"
            android:label="@string/title_activity_device_features"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FlatSingleFingerAcquisitionOptions"
            android:label="@string/title_activity_flat_acquisition_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SlapAcquisitionOptions"
            android:label="@string/title_activity_slap_acquisition_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RollAcquisitonOptions"
            android:label="@string/title_activity_roll_acquisiton_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FrameRateSettings"
            android:label="@string/title_activity_frame_rate_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DactyMatchSettings"
            android:label="@string/title_activity_dacty_match_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WsqWindow"
            android:label="@string/title_activity_wsq_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Jp2Window"
            android:label="@string/title_activity_jp2_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GbfinimgWindow"
            android:label="@string/title_activity_gbfinimg_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SegmentsInfoWindow"
            android:label="@string/title_activity_segments_info_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogWindow"
            android:label="@string/title_activity_log_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuarterlyVerificationWithFingerprint"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EnrollFingerprints"
            android:screenOrientation="landscape" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.greenbit.MultiscanJNIGuiJavaAndroid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Login"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>